.main {
	margin: 0 10px 30px;
	padding: 0;
	position: relative;
}

.body {
	background: var(--color-grey-dark);
	padding: 30px;
}

.header {
	align-items: center;
	display: flex;
	margin: 0 0 20px;
}

.logo {
	display: block;
	height: auto;
	margin: 0 15px 0 0;
	padding: 0;
	width: 60px;
}

.title,
.subtitle {
	color: var(--color-orange);
	font: 700 12px var(--font-sans);
	margin: 0;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
}

.subtitle {
	font-weight: 400;
	text-transform: none;
}

.share {
	align-items: center;
	display: flex;
	font-size: 20px;
	justify-content: center;
}

.share i {
	display: block;
}

.share svg {
	color: inherit;
	display: block;
	height: auto;
	width: 20px;
}

.shareTitle,
.shareTitle:hover,
.shareTitle:focus {
	background: none;
	border: none;
	color: var(--color-orange);
	margin: 0 10px 0 0;
	outline: none;
}

.shareTitle > i {
	align-items: center;
	display: flex;
	font-size: 30px;
	height: 30px;
	justify-content: center;
	width: 30px;
}

.shareTitle > span {
	display: none;
}

.shareBody {
	display: flex;
}

.shareIcon {
	align-items: center;
	background: var(--color-grey-lighter);
	color: var(--color-grey-dark);
	display: flex;
	height: 30px;
	margin: 0 1px;
	justify-content: center;
	text-align: center;
	width: 30px;
}

@media (min-width: 960px) {
	.main {
		margin-bottom: 120px;
		width: calc(50% - 20px);
	}

	.logo {
		width: 103px;
	}

	.title,
	.subtitle {
		font-size: 20px;
	}

	.share {
		left: 0;
		position: absolute;
		right: 0;
		top: calc(100% + 10px);
	}

	.shareTitle,
	.shareTitle:hover,
	.shareTitle:focus {
		align-items: center;
		display: flex;
		font: 700 16px var(--font-sans);
		margin: 0;
		padding: 0 0 5px;
		text-transform: uppercase;
	}

	.shareTitle > i {
		font-size: 20px;
		margin: 0 0 0 10px;
		width: 22px;
	}

	.shareTitle > span {
		display: inline;
	}

	.shareBody {
		background: var(--color-grey-dark);
		border-radius: 16px;
		left: 50%;
		padding: 16px;
		position: absolute;
		top: 100%;
		transform: translateX(-50%);
		transition: opacity 0.3s !important;
		white-space: nowrap;
	}

	.shareIcon {
		background: #000;
		border: none;
		color: #fff;
		cursor: pointer;
		margin: 0;
		padding: 0;
	}

	.shareIcon:link,
	.shareIcon:hover,
	.shareIcon:focus,
	.shareIcon:active {
		color: #fff;
		text-decoration: none;
	}

	.shareIcon + .shareIcon {
		margin-left: 8px;
	}

	.facebook {
		background: #3e5b98;
	}

	.twitter {
		background: #4da7de;
	}

	.instagram {
		background: #ed4957;
	}

	.whatsapp {
		background: #20b038;
	}

	.mail {
		background: #f26109;
	}
}
