.mapa-fogo-cruzado__footer {
	margin: 10px 10px 50px;
}

.mapa-fogo-cruzado__footer h1,
.mapa-fogo-cruzado__footer h2,
.mapa-fogo-cruzado__footer h3,
.mapa-fogo-cruzado__footer h4,
.mapa-fogo-cruzado__footer h5,
.mapa-fogo-cruzado__footer h6 {
	color: rgb(255, 105, 0);
	font: 700 20px "Roboto Condensed", "Helvetica Neue", Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.mapa-fogo-cruzado__footer p,
.mapa-fogo-cruzado__footer > p,
.mapa-fogo-cruzado__footer ul li,
.mapa-fogo-cruzado__footer > ul > li {
	color: rgb(35, 42, 46);
	font: 12px / 1.4 "Roboto Condensed", "Helvetica Neue", Arial, sans-serif;
	list-style: none;
	margin: 1em 0 0;
	padding: 0;
}

@media (min-width: 960px) {
	.mapa-fogo-cruzado__footer {
		margin: 0 auto 50px;
		max-width: 940px;
		padding: 0 10px;
	}
}
