.main {
	font: 15px var(--font-sans);
}

.values,
.calendar {
	box-sizing: border-box;
	font: inherit;
	margin: 0 auto;
	width: calc(100% - 20px);
}

.values {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.firstValue,
.lastValue {
	background: var(--color-ice);
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
	display: block;
	font: inherit;
	margin: 0;
	padding: 0.7em;
	text-align: center;
	width: calc(50% - 5px);
}

.calendar {
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
	text-align: center;
	user-select: none;
	white-space: nowrap;
}

.calendar ~ .calendar {
	display: none;
}

.header {
	align-items: center;
	display: flex;
	justify-content: center;
	text-transform: none;
}

.month {
	font: inherit;
	margin: 0 10px;
}

.prev {
	background: transparent;
	border: none;
	font: 0/0 serif;
	margin: 0;
	outline: none;
	padding: 5px 10px;
}

.prev::before {
	border-right: 3px solid #000;
	border-top: 3px solid #000;
	content: '';
	display: inline-block;
	padding: 3px;
	transform: rotate(-135deg);
}

.next {
	composes: prev;
}

.next::before {
	transform: rotate(45deg);
}

.prev:hover,
.prev:focus,
.next:hover,
.next:focus {
	background: transparent;
}

.weekdayname {
	background: var(--color-ice);
	background-clip: padding-box;
	border: none;
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	cursor: default;
	font: inherit;
	padding: 0.5em;
}

.cell_btn,
.cell_btn:hover,
.cell_btn:focus {
	background: transparent;
	border: none;
	box-sizing: border-box;
	color: inherit;
	font: inherit;
	height: 100%;
	margin: 0;
	outline: none;
	padding: 0;
	width: 100%;
}

.day {
	background-clip: padding-box;
	border: none;
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	cursor: pointer;
	font: inherit;
	padding: 0.35em 0.5em;
}

.today {
	color: var(--color-orange);
	font-weight: 700;
}

.inrange {
	background-color: rgba(var(--rgb-orange), 0.3);
}

.firstday,
.lastday {
	background-color: var(--color-orange);
	color: #fff;
}

.out {
	visibility: hidden;
}

.invalid {
	cursor: not-allowed;
	opacity: 0.3;
	pointer-events: none;
}

.footer {
	background: var(--color-ice);
	border-radius: 0 0 8px 8px;
	margin: 20px -6px -6px;
	padding: 20px 0;
}

.button {
	background: var(--color-orange);
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
	color: #fff;
	display: block;
	font: inherit;
	margin: 0 auto;
	max-width: 260px;
	padding: 1em 0.5em;
	width: 100%;
}

.button:disabled {
	cursor: not-allowed;
	opacity: 0.5;
	pointer-events: none;
}

@media (min-width: 960px) {
	.main {
		background: #fff;
		box-shadow: 6px 6px 0 0 rgba(var(--rgb-grey-light), 0.5);
		display: grid;
		font-size: 20px;
		gap: 0 60px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		padding: 60px 30px 0;
	}

	.values {
		display: none;
	}

	.calendar {
		width: auto;
	}

	.calendar ~ .calendar {
		display: table;
	}

	.header {
		justify-content: space-between;
	}

	.footer {
		grid-column: span 2;
		margin: 0 -30px;
		width: auto;
	}
}
