.main {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 940px;
	padding: 30px 10px 0;
}

.ufs,
.years {
	margin: 0 10px;
	width: calc(100% - 20px);
}

@media (min-width: 960px) {
	.ufs {
		margin: 0 auto 0 0;
		width: auto;
	}

	.years {
		flex-shrink: 0;
		margin: 0 0 35px auto;
		width: 220px;
	}
}
