.loadingbar {
	background-color: white;
	height: 5px;
	position: absolute;
}

.main {
	composes: main from './Years.module.css';
	margin: 15px 20px 30px;
}

.summary {
	composes: summary from './Years.module.css';
	text-align: left;
}

.details {
	composes: details from './Years.module.css';
}

.details_ {
	composes: details_ from './Years.module.css';
}

.modal {
	composes: modal from './Years.module.css';
}

.close {
	composes: close from './Years.module.css';
}

.list {
	composes: list from './Years.module.css';
}

.submenu > div::before {
	background: transparent;
	margin-bottom: 5px;
}

@media (min-width: 960px) {
	.main::before,
	.main::after,
	.summary,
	.modal::before,
	.close {
		display: none;
	}

	.main {
		margin: 0;
		position: relative;
		z-index: 5;
	}

	.details,
	.details_ {
		background: var(--color-orange);
		box-shadow: 0 6px 0 0 rgba(var(--rgb-metal), 0.5);
		display: block;
		margin: 0;
		padding: 0;
		position: static;
	}

	.modal {
		background: transparent;
		border-radius: 0;
		box-shadow: none;
		max-width: none;
		padding: 0;
	}

	.list {
		display: flex;
		margin: 0 auto;
		max-width: 940px;
		padding: 0 10px;
	}
}
