.mainItem {
	composes: item from './Years.module.css';
}

.disabled {
	opacity: 0.5;
	pointer-events: none;
}

.mainLink {
	composes: link from './Years.module.css';
}

.details {
	composes: details from './Years.module.css';
}

.details_ {
	composes: details_ from './Years.module.css';
}

.modal {
	composes: modal from './Years.module.css';
}

.close {
	composes: close from './Years.module.css';
}

.list {
	composes: list from './Years.module.css';
}

.item {
	composes: item from './Years.module.css';
}

.link {
	composes: link from './Years.module.css';
}

@media (min-width: 960px) {
	.mainItem {
		color: #fff;
		position: relative;
		text-transform: uppercase;
	}

	.mainItem + .mainItem {
		border: none;
	}

	.mainItem > div {
		display: none;
	}

	.hover > div {
		display: block;
	}

	.mainLink {
		background: inherit;
		color: inherit;
		margin: 0 4px 0 0;
		padding: 23px 20px;
		text-transform: uppercase;
	}

	.mainItem:hover > .mainLink {
		background: #fff;
		color: var(--color-orange);
	}

	.details,
	.details_ {
		background: transparent;
		margin: 0;
	}

	.list {
		background: #fff;
		box-shadow: 6px 6px 0 0 rgba(var(--rgb-grey-light), 0.5);
		max-height: 400px;
		overflow: auto;
		padding: 10px;
		white-space: nowrap;
	}

	.link {
		text-align: left;
		width: 100%;
	}

	.link:hover,
	.active {
		background: var(--color-orange);
		color: #fff;
	}
}
