.main {
	composes: main from './Years.module.css';
}

.summary {
	composes: summary from './Years.module.css';
}

.details {
	composes: details from './Years.module.css';
}

.details_ {
	composes: details_ from './Years.module.css';
}

.modal {
	composes: modal from './Years.module.css';
}

.close {
	composes: close from './Years.module.css';
}

.list {
	composes: list from './Years.module.css';
}

.item {
	composes: item from './Years.module.css';
}

.link {
	composes: link from './Years.module.css';
}

.name,
.name[title] {
	text-decoration: inherit;
}

@media (min-width: 960px) {
	.main::before,
	.main::after,
	.summary {
		display: none;
	}

	.main {
		background: transparent;
	}

	.details,
	.details_ {
		display: block;
		margin: 0;
		position: static;
	}

	.modal {
		background: transparent;

		/* border-radius: 0; */
		font: 18px/24px var(--font-sans);
	}

	.list {
		display: flex;
		padding: 0;
	}

	.item {
		margin: 0 3px 0 0;
	}

	.link {
		background: var(--color-grey);
		border-radius: 8px 8px 0 0;
		padding: 17px 25px 13px;
	}

	.link,
	.link:visited {
		color: #fff;
	}

	.link:hover {
		background: var(--color-orange);
	}

	.active {
		background: var(--color-orange);
	}
}
