.main {
	background: var(--color-grey-dark);
	border-radius: 4px;
	box-sizing: border-box;
	color: #fff;
	font: 16px/20px var(--font-sans);
	margin: 0 0 35px;
	position: relative;
	text-align: center;
}

.main::before {
	background: var(--color-grey-dark);
	border-left: 2px solid rgba(var(--rgb-grey-light), 0.15);
	bottom: 3px;
	box-sizing: border-box;
	content: '';
	display: block;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 3px;
	width: 43px;
}

.main::after {
	border-color: #fff transparent transparent;
	border-style: solid;
	border-width: 8px 6px 0;
	content: '';
	display: block;
	pointer-events: none;
	position: absolute;
	right: 21px;
	top: 50%;
	transform: translate(50%, -50%);
}

.summary {
	background: transparent;
	border: none;
	box-sizing: border-box;
	color: inherit;
	cursor: pointer;
	display: block;
	font: inherit;
	outline: none;
	padding: 12px calc(43px + 20px) 12px 20px;
	width: 100%;
}

.details {
	background: rgba(0, 0, 0, 0.8);
	box-sizing: border-box;
	bottom: 0;
	display: none;
	left: 0;
	overflow: auto;
	padding: 34px 20px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
}

.details_ {
	composes: details;
	display: block;
}

.modal {
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
	color: var(--color-grey-dark);
	font: 20px/1.2 var(--font-sans);
	margin: 0 auto;
	max-width: 400px;
	padding: 6px;
	position: relative;
}

.modal::before {
	background: var(--color-ice);
	color: var(--color-orange);
	content: attr(title);
	display: block;
	padding: 14px;
	text-align: center;
	text-transform: uppercase;
}

.close {
	background: #fff;
	border: 2px solid #000;
	border-radius: 50%;
	color: transparent;
	display: block;
	font: 0/0 serif;
	height: 22px;
	margin: 0;
	outline: none;
	padding: 0;
	position: absolute;
	right: -10px;
	top: -10px;
	width: 22px;
}

.close::before,
.close::after {
	background: #000;
	bottom: 3px;
	content: '';
	display: block;
	left: calc(50% - 1px);
	position: absolute;
	right: calc(50% - 1px);
	top: 3px;
}

.close::before {
	transform: rotate(45deg);
}

.close::after {
	transform: rotate(-45deg);
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: inherit;
}

.item + .item {
	border-top: 1px solid var(--color-orange);
}

.link {
	background: transparent;
	border: none;
	border-radius: 0;
	box-sizing: border-box;
	display: block;
	font: inherit;
	margin: 0;
	outline: none;
	padding: 19px 10px;
	text-decoration: none;
	width: 100%;
}

.link,
.link:visited {
	color: inherit;
}

.link:hover {
	color: var(--color-orange);
}

.name {
	color: inherit;
	text-decoration: inherit;
}

@media (min-width: 960px) {
	.main {
		position: relative;
		z-index: 10;
	}

	.details {
		background: transparent;
		bottom: auto;
		left: 0;
		margin: 2px 0 0;
		min-width: 100%;
		overflow: visible;
		padding: 0;
		position: absolute;
		right: auto;
		top: 100%;
	}

	.modal {
		background: var(--color-grey-light);
		border-radius: 4px;
		box-shadow: none;
		font: inherit;
		margin: 0;
		max-width: none;
		padding: 0;
	}

	.list {
		padding: 3px;
	}

	.item + .item {
		border-top: none;
	}

	.link {
		padding: 10px;
	}

	.link:hover {
		background: var(--color-grey-dark);
		color: #fff;
	}

	.modal::before,
	.close {
		display: none;
	}
}
