.main {
	padding: 120px 0;
	text-align: center;
}

.icon {
	height: 64px;
	margin: 0 auto 45px;
	width: 64px;
}

.icon svg {
	display: block;
	height: 100%;
	width: 100%;
}

.title {
	color: var(--color-red);
	display: block;
	font: 20px var(--font-sans);
	margin: 0 0 0.5em;
	padding: 0;
	text-transform: uppercase;
}

.lead {
	color: var(--color-grey-dark);
	display: block;
	font: 20px var(--font-sans);
	margin: 0;
	padding: 0;
}

.link,
.link:hover,
.link:focus {
	background: transparent;
	border: none;
	color: inherit;
	cursor: pointer;
	font: inherit;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}
